# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [38]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [39]:
# Importing our CSV file from Part 1.
vacation_weather_df = pd.read_csv("/Users/azpunit/Desktop/python-api-challenge/WeatherPy/final_output_data/City_Data.csv")

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [40]:
# Configuring gmaps.
gmaps.configure(api_key=g_key)

In [60]:
# Plotting our heatmap.
lat_lng_loc = vacation_weather_df[["Lat", "Lng"]]
humidity = vacation_weather_df["Humidity"]

layout = {"width": "900px",
          "height": "600px",
          "border": "1px solid black",
          "padding": "1px",
          "margin": "0 auto 0 auto"
          }

my_gmap = gmaps.figure(layout=figure_layout, zoom_level=2, center=(15,25))
heat_structure = gmaps.heatmap_layer(lat_lng_loc, weights=humidity, 
                                 dissipating=False, max_intensity=250,
                                 point_radius=4)

my_gmap.add_layer(heat_structure)
my_gmap

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [72]:
# Creating a new Dataframe filling weather criteria.
columns = ["City_ID", "City", "Cloudiness", "Country", "Date", "Humidity", "Lat", "Lng", "Max Temp", "Wind Speed"]

final_vacation_weather_df = vacation_weather_df.loc[(vacation_weather_df["Max Temp"] < 80) &
                                                    (vacation_weather_df["Max Temp"] > 70) &    
                                                    (vacation_weather_df["Wind Speed"] < 10) &                                        
                                                    (vacation_weather_df["Cloudiness"] == 0), columns]

final_vacation_weather_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
91,91,Ponta do Sol,0,PT,1595626248,61,32.67,-17.10,71.01,3.94
128,128,Jales,0,BR,1595625960,32,-20.27,-50.55,74.89,5.84
177,177,Ribas do Rio Pardo,0,BR,1595626258,33,-20.44,-53.76,75.31,2.82
194,194,Beyneu,0,KZ,1595626260,42,45.32,55.20,76.86,7.76
214,214,Naviraí,0,BR,1595626110,43,-23.07,-54.19,76.77,5.55
224,224,Huilong,0,CN,1595626264,91,31.81,121.66,75.00,9.64
320,320,Mizdah,0,LY,1595626273,44,31.45,12.98,73.45,9.62
341,341,Tūkrah,0,LY,1595626276,84,32.53,20.58,75.96,5.23
350,350,Ust-Kuyga,0,RU,1595626276,48,70.02,135.60,76.86,2.48
357,357,Ilhabela,0,BR,1595626277,76,-23.78,-45.36,70.23,5.28
411,411,Henties Bay,0,NaN,1595626083,19,-22.12,14.28,71.01,5.01
472,472,Mahon,0,ES,1595626288,73,39.89,4.27,73.40,3.36
481,481,Mahon,0,ES,1595626288,73,39.89,4.27,73.40,3.36
482,482,Pachino,0,IT,1595626289,53,36.72,15.09,75.00,3.36
496,496,Jablah,0,SY,1595626291,83,35.36,35.93,77.00,4.70
509,509,Rio Brilhante,0,BR,1595626292,40,-21.80,-54.55,76.46,3.96
515,515,Shihezi,0,CN,1595626293,29,44.30,86.03,77.40,3.18

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [75]:
# Importing json, Storing our dataframe into the variable name hotel_df and searching for hotels within 5000 meters.
import json

raw_hotel_df = final_vacation_weather_df
raw_hotel_df["Hotel Name"] = ""

params = {"radius": 5000,
          "types": "lodging",
          "keyword": "Hotel",
          "key": g_key
          }

for index, row in raw_hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]

    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    hotel_address = requests.get(base_url, params=params)
    
    hotel_address = hotel_address.json()

    try:
        raw_hotel_df.loc[index, "Hotel Name"] = hotel_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

Missing field/result... skipping.

In [83]:
raw_hotel_df.drop(raw_hotel_df[raw_hotel_df["Hotel Name"] == ""].index, inplace = True)
intermediary_hotel_df = raw_hotel_df.head(10)
hotel_df = intermediary_hotel_df[["City", "Country", "Lat", "Lng", "Hotel Name"]]
hotel_df

                   City Country    Lat     Lng                      Hotel Name
91         Ponta do Sol      PT  32.67  -17.10       Estalagem Da Ponta Do Sol
128               Jales      BR -20.27  -50.55            Regional Plaza Hotel
177  Ribas do Rio Pardo      BR -20.44  -53.76                     Hotel Ideal
194              Beyneu      KZ  45.32   55.20                   HOTEL "AKNUR"
214             Naviraí      BR -23.07  -54.19  Dubai Hotel - Também sua casa!
224             Huilong      CN  31.81  121.66        Hilton Garden Inn Qidong
320              Mizdah      LY  31.45   12.98                فندق مزدة الكبير
341              Tūkrah      LY  32.53   20.58                 قاعدة فيقا فيقا
357            Ilhabela      BR -23.78  -45.36                 Ilha Flat Hotel
411         Henties Bay     NaN -22.12   14.28                  De Duine Hotel

In [84]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Storing the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [85]:
# Add marker layer ontop of heat map

figure_layout = {"width": "900px",
                 "height": "600px",
                 "border": "1px solid black",
                 "padding": "1px",
                 "margin": "0 auto 0 auto"
                 }

my_gmap = gmaps.figure(layout=figure_layout, zoom_level=2, center=(15,25))

hotel_layer_mark = gmaps.marker_layer(locations, info_box_content=hotel_info)
heat_structure = gmaps.heatmap_layer(lat_lng_loc, weights=humidity, 
                                 dissipating=False, max_intensity=250,
                                 point_radius=4)

my_gmap.add_layer(heat_structure)
my_gmap.add_layer(hotel_layer_mark)
my_gmap.add_layer(hotel_layer_mark)

# Display figure
my_gmap

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…